<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <!-- <link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css"> -->
    <style>
        .contact-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }
        .contact-section h1 {
            margin-bottom: 20px;
        }
        .contact-icons a {
            margin: 10px;
            color: #333;
            transition: color 0.3s;
        }
        .contact-icons a:hover {
            color: #007bff;
        }
        .contact-icons i {
            font-size: 2em;
        }
        .contact-info {
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="contact-section">
            <h1>Contact Me</h1>
            <p>If you have any questions or would like to get in touch, you can reach me through the following platforms:</p>
            <div class="contact-icons">
                <a href="mailto:irshaththeraider1@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/irshath19" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/irshath-azeem19/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/__irshath_17_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://x.com/Hacker_Irshath?t=AGxpheLgfzw9YkMU_rPauw&s=09" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="contact-info">
                <p><strong>Stay Focused ✨</strong></p>
            </div>
        </div>
    </div>
</body>
</html>
